<div class='container'>
  <div class=“row”><h2 class="mt-4"><strong>ジャンル一覧・追加</strong></h2>
    <div class='mx-auto col-lg-6'>
      <br>
     <%= render 'admin/genres/error', genre: @genre%>
     <%= render 'admin/genres/form', genre: @genre%>
        <div class="mb-3">
      <%= render 'admin/genres/index', genre: @genre, genres: @genres  %>
        </div>
      </div>
  </div>
</div><br><br><br><br><br><br><br><br><br><br>