
  <div class=“row”>
    <div class="col-4">
          <% if @ago[0] %>
           <%= link_to "⇦前へ", public_create_path(@ago[0].id), class: "btn btn-outline-primary" %>
         <% end %>
    <div class="col-8">
    </div>
    <div class="col-4">
         <% if @later[0] %>
           <%= link_to "次へ⇨", public_create_path(@later[0].id), class:"btn btn-outline-primary" %>
         <% end %>
    </div>
  </div>
