
<%#　投稿一覧の画面   %>
<div class="container">

  <div class="row">
    <div class="col-12 mt-4 mb-4">
       <h3><strong>作品一覧</strong> (全 <%= @total_creates %> 件)</h3><br>
    </div>
  </div>


  <div class="row">
    <% @creates.each do |create| %>
    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card">

          <%= link_to public_create_path(create), class:"card-img-top" do %>
            <%= image_tag create.get_image(250,250), class:"card-img-top" %><br>
          <% end %>
          <div class="card-body">
            <%= create.name%><br>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center  mt-5 ">
      <%#= paginate @creates %>
    </div>
  </div><br>