<div class="col-5 mx-auto">
</div>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>

      <h3 class="mt-3"><strong>新規投稿</strong></h3>

      <%= render 'public/creates/error', create: @create %>
      <%= render 'public/creates/form', create: @create %>
    </div>
    <div class='col-md-8 offset-md-1'>

  </div>
</div>
</div>