<div class="col-5 mx-auto">
          <% if create.errors.any? %>
              <div id=error_explanation>
                <!--<h3>入力エラーが<%= create.errors.count %>件あります！</h3>-->
                 <h3>コメントを入力してください！</h3>
              <ul>
                <% create.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
              </div>
          <% end %>
</div>
