<div>
      <% if create.favorited_by?(current_user) %>
        <p>
          <%= link_to public_create_favorite_path(create,1), method: :delete, remote: true do %>
           <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= create.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to public_create_favorites_path(create), method: :post, remote: true  do %>
          <i class="fas fa-heart" aria-hidden="true" style="color: blue;"></i>
            <%= create.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
</div>