<div class='container'>
  <div class=“row”>
      <div class="about-content-center">
        <div class="about-text">
          <h1>About</h1>
            <p>
              Create-Stationは皆様の作品を投稿閲覧を通して共有できるコニュニティサイトです。<br>
              クリエイターとして、創作活動を通したい方、作品の鑑賞をしたい方々に、<br>
              想いが届けられることを目的としています。<br>
              ぜひご利用ください。
            </p>
        </div>
      </div>
  </div>
</div>

<div class="about-image"></div>